<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>FilterDemoServlet</display-name>
    <servlet-name>FilterDemoServlet</servlet-name>
    <servlet-class>com.demiglace.trainings.servlets.filters.FilterDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterDemoServlet</servlet-name>
    <url-pattern>/FilterDemoServlet</url-pattern>
  </servlet-mapping>
  <display-name>FiltersDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>DemoFilters</display-name>
    <filter-name>DemoFilters</filter-name>
    <filter-class>com.demiglace.trainings.servlets.filters.DemoFilters</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DemoFilters</filter-name>
    <url-pattern>/DemoFilters</url-pattern>
  </filter-mapping>
</web-app>